@media screen and (max-width: 1220px) {
  .modal .modal-content {
    width: 100%;
    margin: 0; }

  .purchase .item._3 .wrap-step {
    padding-right: 9%; } }
@media screen and (max-width: 1100px) {
  .section._1 .bg {
    width: 30%; }

  .faq-slider .item table tr.first td {
    height: 80px; } }
@media screen and (max-width: 900px) {
  .section._1 .bg {
    width: 20%; }

  .strategy .title {
    font-size: 24px; }

  .section._3 .wrap .el_2 {
    left: -80px; } }
@media screen and (max-width: 840px) {
  .wrap .content {
    padding-left: 30px; }

  .section._2 h4 br {
    display: none; }

  .info-set.first .col_t {
    background-position: 76px 38px; }

  .faq-slider .item table tr.first td {
    font-size: 14px;
    line-height: 18px; } }
@media screen and (max-width: 800px) {
  .info-set .col_t {
    margin-left: 1%;
    width: 19.2%;
    font-size: 9px; }

  .row.strategy .col.col_3 {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px; }

  .strategy .title {
    margin-bottom: 10px; }

  .section._3 .wrap .el_3, .set-slide .wrap .el_4 {
    right: -422px; }

  .rel .wrap .el_2_1 {
    display: none; }

  .set-slide .text {
    float: none;
    text-align: center;
    margin: 0 0 16px 0;
    clear: both; }
    .set-slide .text.last {
      margin: 0; }
  .set-slide .input {
    margin: 0 auto 10px;
    float: none; }
  .set-slide .text-intro {
    padding: 10px 0 0 0;
    text-align: center; }

  .section._5 .open .col {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-bottom: 40px;
    text-align: center; }
    .section._5 .open .col._1 img {
      margin-left: 62px; }
    .section._5 .open .col._2 img {
      margin-left: 60px; }
    .section._5 .open .col._3 img {
      margin-left: 86px; }
    .section._5 .open .col._4 img {
      margin-left: 70px; }
    .section._5 .open .col._5 img {
      margin-left: 84px; }
    .section._5 .open .col .text {
      padding-left: 20%;
      padding-right: 20%; }
      .section._5 .open .col .text br {
        display: none; }

  .section._1_1 .button-set .btn {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 30px; }

  .counter-box {
    padding-right: 0;
    padding-bottom: 200px; }
    .counter-box .diagram {
      right: -120px;
      left: 0;
      margin: auto; }
      .counter-box .diagram.original {
        right: 0;
        left: -120px; }

  .section._3_1 .col_3 {
    float: none;
    margin-left: 0;
    width: 100%;
    margin-bottom: 30px;
    text-align: center; }

  .type-list .col .year .prof {
    top: -15px; }

  .section._5 .list-st .col a.btn.w {
    right: -77px; } }
@media screen and (max-width: 740px) {
  .section._1 .bg {
    display: none; }

  .section._1 .intro b {
    font-size: 42px; }

  .info-set.first .col_t {
    background-position: 70px 38px; }

  .purchase .item._3 .wrap-step {
    padding-right: 0; } }
@media screen and (max-width: 680px) {
  .row .col.left {
    float: none;
    width: 100%;
    margin-bottom: 20px; }
  .row .col.right {
    float: none;
    width: 100%;
    margin-left: 0; }

  .info-set .col_t {
    margin-left: 0 !important;
    width: 100% !important;
    float: none;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 10px; }
    .info-set .col_t p {
      padding: 0 20% !important;
      width: 100% !important; }
      .info-set .col_t p br {
        display: none !important; }
    .info-set .col_t.last {
      padding-bottom: 0; }
  .info-set.first .col_t {
    background-position: center bottom;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAKCAMAAABhV5WtAAAARVBMVEXXJE/XJE/XJE/XJE/XJE/XJE/XJE/XJE/XJE/XJE/XJE/XJE/XJE/XJE/XJE/XJE/XJE/XJE/XJE/XJE/XJE/XJE/XJE/o1woGAAAAFnRSTlMAAxocHR4iJS4/Qkh2d3l7f4jo6e3x9Z6a6gAAAENJREFUeAFly1cKgEAMANGx6FoSu97/qCIqJJv5fDAUfde0pnpIMF2+vQJWR2fiSQxtJW8aCeZIIJFAPf37kRMsI183fZsHK5QC5kQAAAAASUVORK5CYII=); }

  .section._2 h4 {
    text-align: center; }

  .section h2.move {
    padding-top: 0; }

  .section h2 {
    text-align: center; }

  .main-slider-wr .el_1s {
    left: 12%; }

  .section._5 h2, .section._6 h2, .section._7 h2 {
    padding-top: 0; }

  .section._5 .open {
    padding-top: 70px; }

  .faq-slider .item table tr.first td {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px; }

  .faq-slider {
    padding-left: 20px;
    padding-right: 20px; }

  .faq-slider .item table tr td {
    padding-left: 10px;
    padding-right: 10px; }

  .faq-slider .item table tr td._b {
    padding-left: 30px; }

  .faq-slider .owl-nav div {
    top: 2px; }

  .faq-slider .owl-nav div.owl-prev {
    left: -20px; }

  .faq-slider .owl-nav div.owl-next {
    right: -20px; }

  .section._7 .rul {
    max-width: inherit; }

  .section._7 .form tr td .valid-box {
    width: 250px; }

  .section._7 .form tr td.label {
    font-size: 16px; }

  .form tr td.center .btn,
  .purchase .form.fixed tr td .valid-box {
    width: 160px !important; }

  .purchase .form.fixed tr.set-steps td .btn {
    width: 100px !important; }

  .purchase .form.fixed tr td.get-sms a {
    font-size: 10px; }

  .section._1_1 h2 {
    padding-top: 0; }

  .section._1_1 .date {
    text-align: center; }

  .section._4_2 h2 {
    padding-top: 0; }

  .type-slider .intro, .type-slider p {
    margin: 0 0 20px 0; }
  .type-slider .col_2._g {
    float: none;
    margin-left: 0;
    width: 100%;
    text-align: center; }
  .type-slider .img .col {
    background-position: center top; }

  .type-list .line {
    display: none; }

  .section._5._5_2 h2 {
    padding-top: 0; }

  .section._5._5_2 .text {
    text-align: center; }

  .section._5 .list-st {
    padding-right: 0;
    padding-top: 0; }
    .section._5 .list-st .col {
      float: none;
      width: 100%;
      margin-left: 0;
      text-align: center; }
      .section._5 .list-st .col .abs {
        position: relative;
        top: auto;
        left: auto;
        margin: 20px; }
      .section._5 .list-st .col a.btn.w {
        position: relative;
        top: auto;
        right: auto;
        margin: 30px auto 0; }

  .section._6_2 h2 {
    padding-top: 0;
    padding-bottom: 30px; }

  .section._6_2 .text {
    text-align: center; }

  .section._6_2 .btn {
    display: block;
    margin-left: auto !important;
    margin-right: auto;
    margin-bottom: 30px; }

  .section._6_2 .btn.abs {
    left: 0;
    right: 0;
    margin-bottom: 0 !important; }

  .modal-content.map .list-address {
    width: 50%; } }
@media screen and (max-width: 600px) {
  .type-list .col .year {
    font-size: 21px;
    line-height: 22px; }

  .section._1 .intro b {
    left: 0; }

  .section._1 .intro b span {
    padding-left: 0; }

  .wrap .content {
    padding-left: 0; }

  .footer .row .col {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-bottom: 20px;
    text-align: center !important; }

  .section._1 .btn {
    width: 140px; }

  .modal .form tr td.label {
    font-size: 18px;
    padding-right: 20px; }
  .modal .form tr td .valid-box {
    width: 200px; }
    .modal .form tr td .valid-box .slide {
      width: 200px; }
      .modal .form tr td .valid-box .slide .nstSlider {
        width: 180px; }
  .modal .form tr td .set_3 {
    width: 200px; }
    .modal .form tr td .set_3 .valid-box {
      width: 30%; }
  .modal .form tr td .select-date select {
    padding: 12px 5px 12px;
    width: 54px;
    margin-right: 2px; }
    .modal .form tr td .select-date select.last {
      width: 78px; }
  .modal .form tr td .textOfError {
    white-space: nowrap;
    left: 0; }
  .modal .form tr td input[type="text"], .modal .form tr td select {
    padding: 12px 10px 12px; }
  .modal .form tr td .checkbox-label {
    margin-right: 0; }
    .modal .form tr td .checkbox-label .tool .tool-text {
      left: auto;
      right: 0; }

  .application .item._1 .form tr td.label {
    width: 200px; }

  .purchase .item._1 .form tr td.label {
    width: 200px; }

  .purchase .form.fixed tr td .valid-box {
    width: 100px !important; }

  .section._3 .wrap .el_3, .set-slide .wrap .el_4 {
    display: none; }

  .section._4_2 .btn-set .btn {
    width: 162px;
    margin: 0; }

  .fix-panel .btn {
    width: 140px; } }

/*# sourceMappingURL=media.css.map */
