@import 'vars';
* {
  outline: none;
}
[data-phone] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input[type="text"], input[type="password"],select {
  width: 100%;
  text-align: left;
  color: $base-color;
  border: 1px solid $border-color;
  padding: 12px 23px 12px;
  max-height: 50px;
  font-family: 'pf_agora_sans_proitalic','Helvetica',Arial,sans-serif;
  font-size: 20px;
  line-height: 24px;
  background: transparent;
  display: block;
  @include border-radius(10px);
  &:focus {
    background: $btn-color;
    color: #ffffff;
  }
}
select {
  font-family: 'pf_agora_sans_proregular','Helvetica',Arial,sans-serif;
  color: $btn-color;
  &:focus {
    background: transparent;
    color: $btn-color;
  }
}
.slide {
  width: 300px;
}

.valid-box {
  position: relative;
}

.field-has-error {
  border: 1px solid $btn-color !important;
}
.textOfError {
  color: $btn-color;
  padding: 10px 23px 0;
  font-size: 14px;
  line-height: 14px;
}
.form {
  width: auto;
  border-collapse: collapse;
  tr {
    &.no {
      display: none;
    }
    td {
      vertical-align: top;
      padding-bottom: 10px;
      &.label {
        font-size: 20px;
        padding-top: 14px;
        padding-right: 40px;
        padding-bottom: 0 !important;
        span {
          color: $btn-color;
        }
      }
      .valid-box {
        width: 300px;
      }
      .btn {
        width: 180px;
        padding-left: 0;
        padding-right: 0;
        margin-top: 15px;
      }
      .checkbox-label {
        margin-right: 170px;
        margin-bottom: 10px;
        margin-top: 4px;
        display: block;
        .checkbox-label-text {
          padding-right: 30px;

        }
      }
      .hint {
        font-size: 14px;
        line-height: 16px;
        margin-top: 22px;
      }
      .hint-info {
        font-size: 14px;
        line-height: 16px;
      }
      &.sub {
        font-size: 16px;
        line-height: 18px;
        padding-top: 24px;
        &.last {
          padding-bottom: 50px;
        }
        a {
          font-family: 'pf_agora_sans_proitalic','Helvetica',Arial,sans-serif;
          text-decoration: underline;
          font-size: 16px;
        }
      }
      .set_3 {
        width: 300px;
        .valid-box {
          width: 30%;
          float: left;
          margin-left: 5%;
          &.first {
            margin-left: 0;
          }
        }
      }
      &.center {
        .btn {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
  .slide {
    input {
      font-family: 'pf_agora_sans_proregular','Helvetica',Arial,sans-serif;
      color: $btn-color;
      &:focus {
        background: transparent;
      }
      &.error {
        border: 1px solid $btn-color;

      }
    }
    .rub {
      position: absolute;
      right: -26px;
      top: 14px;
      width: 14px;
      height: 21px;
      background: no-repeat center;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAVCAMAAABBhy+7AAAALVBMVEUzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzNowHimAAAADnRSTlMAESIzRFVmd5mqu8zd7jc4jyYAAABWSURBVHjahcsxFoAwCATR1WBIwOz9jyuPQqnMdL8YQJjdsyMKqkQ6aUdSkLVllehslQe1Er+8KJV+46P4aoA53SLSQtDBodF1IqrvnnxLilIl+3/3fAAIuwRZ2AwGVQAAAABJRU5ErkJggg==);
    }
  }
  .nstSlider {
    border-bottom: 2px solid $btn-color;
    .leftGrip {
      border-bottom: 10px solid $btn-color;
    }
    .bar {
      background: #ffffff;
    }
  }
  .select-date {
    select {
      width: 70px;
      padding: 12px 12px 12px;
      text-align: center;
      display: inline-block;
      vertical-align: top;
      margin-right: 10px;
      font-family: 'pf_agora_sans_proitalic','Helvetica',Arial,sans-serif;
      &.last {
        float: right;
        margin-right: 0;
        width: 126px;
      }
    }
  }
}
.processing {
  font-size: 11px;
  line-height: 13px;
  padding-top: 6px;
  a {
    font-size: 11px;
  }
}
.application {
  .item {
    &._1 {
      .form tr td.label {
        width: 240px;
      }
    }
    &._2 {
      .form tr td.sub {
        padding-bottom: 36px;
      }
    }
  }
}
.purchase {
  .item {
    &._1 {
      .form tr td.label {
        width: 240px;
      }
    }
    &._2 {
      .form tr td {
        .sub {
          padding-bottom: 16px;
        }
        .checkbox-label-text {
          padding-top: 10px;
        }
      }
    }
    &._3 {
      .wrap-step {
        padding-right: 20%;
      }
      .checkbox-label {
        margin-right: 0;
        .checkbox-label-text {
          padding-top: 10px;
          padding-right: 0;
        }
      }
    }
    &._4 {
      .form {
        width: 100%;
      }
      .form tr td {
        .checkbox-label {
          margin-right: 0;
          margin-bottom: 15px;
          margin-top: 0;
          padding-left: 50px;
          display: block;
          width: 330px;
          .checkbox-label-text {
            padding-left: 60px;
            font-size: 20px;
            line-height: 30px;
            padding-right: 0;
            &:before {
              @include border-radius(15px);
              width: 28px;
              height: 28px;
              top: -1px;
            }
          }
          .checkbox:checked + .checkbox-label-text:before {
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAASFBMVEXjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlEkZ821AAAAF3RSTlMAFBUWU1SCg4bO0NHS0/Dx8vP0+Pn6/k7NJGQAAABVSURBVHjaXc9BEoAgCEBRTDMzC4vS+980QhfS370ZRgE4ExJR9AYkd1QJnajUXmFP2MGhBV+HAsSRCWjkrXnq4e3/lNUf6TW4OTdlVjthf651+U54AU3HDPIC54SxAAAAAElFTkSuQmCC);
            background-position: 7px 7px;
          }
        }
        &.sub {
          padding-bottom: 40px;
        }
        &.center {
          .btn {
            position: relative;
            left: -9%;
            margin-top: 25px;
          }
        }
      }
    }
  }
  .form.fixed {
    width: 100%;
    table-layout: fixed;
    tr {
      td {
        &.label {
          padding-right: 20px;
          padding-top: 0;
        }
        .valid-box {
          width: 180px !important;
          margin: auto;
        }
        &.get-sms {
          padding-top: 15px;
          text-align: center;
        }
        &.last {
          padding-bottom: 0;
          .btn {
            margin-top: 0;
          }
          .processing {
            text-align: center;
            padding-top: 16px;
          }
          .info {
            font-size: 14px;
            line-height: 16px;
            padding-top: 40px;
          }
        }
      }
    }
  }
}
.checkbox-label {
  display: inline-block;
  position: relative;
  line-height: 20px;
  cursor: pointer;
  text-align: left;
  .checkbox {
    position: absolute;
    left: -9999px;
    visibility: hidden;
  }
  .checkbox-label-text {
    display: block;
    padding-left: 60px;
    position: relative;
    font-size: 14px;
    line-height: 17px;
  }
  .tool {
    position: absolute;
    right: 0;
    top: 4px;
  }
}

.tool {
  width: 27px;
  height: 27px;
  cursor: pointer;
  position: relative;
  z-index: 10;
  display: block;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAbCAMAAAC6CgRnAAAAw1BMVEXjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlGxQG0BAAAAQHRSTlMAAQ4PEBESExQVFhcYGSIsLS4vMDEzRFpbYGFiY2Znd4eIiYqLjZSVmZqbpaaqq7e7yszV2Nna3ejp6u7v8PHyJEkz2QAAATVJREFUeAFt0utygjAQBeCjBNtqteJFoVgRL0orImKsyoXu+z9Vp5FMwky/H+TM7Cw7kIXE3D0vqOR710AdWxbHuWXAsObHwmfQ2LevLqTu582G1Fh9j6AbXZaNKi5OLXGak8nEFKl1WkCY8hcAvUNGf+IxADzzKQC006FooiTwvCCjTLQO0g6A7QaC+Xhm9CHCZguwvA1dTJ44OzmDG0HR+hC5CN+hC+haJSfEuV8vZeMqvp1RGtoLY1WCUYKgJJT0AIn0Po8SU5WMH33elVSXmBc6kCiGxgkxi1QtgeYw0/+L70Np5wzYbfCf9Q5AJ7Xk53ljSFb6+ri/p2oCZai0uF2/d58SWTqt5L6s+VCEaiMw4OsGJPseaHsW3O36fuaR02+i2XeifMlQx9zwUlJ5CdVe/wKzoiHOKGlXzAAAAABJRU5ErkJggg==);
  .tool-text {
    display: none;
    position: absolute;
    top: 36px;
    left: 0;
    color: $btn-color;
    font-size: 14px;
    line-height: 16px;
    padding: 10px 10px 10px;
    background-color: #ffffff;
    min-width: 180px;
    @include box-shadow(0 0 9px 0 #ccc);
  }
  &:hover {
    .tool-text {
      display: block;
    }
  }
}
[data-participant] {
  will-change: transform;
}
.checkbox-label .checkbox {
  +.checkbox-label-text:before {
    content: '';
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid $border-color;
    position: absolute;
    left: 0;
    top: 1px;
    display: block;
    cursor: pointer;
    background-position: 3px 6px;
    background-repeat: no-repeat;
    @include border-radius(5px);
    z-index: 5;
  }
  &.field-has-error {
    +.checkbox-label-text:before {
      border: 1px solid $btn-color;
    }
  }
  &:disabled {
    +.checkbox-label-text {
      cursor: default;
      opacity: 0.5;
      pointer-events: none;
      &:before {
        cursor: default;
      }
      a {
        cursor: default;
      }
    }
  }
}

.checkbox-label .checkbox:checked+.checkbox-label-text:before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAPCAMAAAA4caRkAAAA3lBMVEXjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlGSpmIkAAAASXRSTlMAAQMGCQoLDRATFBYYGRwdICYpMDIzNTg7PD9AREVITlJZYGZrcH2JlKKrsbW3vMLIzdHV1tjZ3uHm6uzt7/Dx8/T19vf5+/z+oHvSVQAAAItJREFUeAFjwAaYNJWwCTNreWpgE9b2VGfEFGbR9VTDoppVz0MVRLMJoQiz67srgxk61iJIwhwGbooQlpiNrRhcmNPQVQHGFrayk4AyuY1c5RF6hSwdpMAMXhMXOWS7BC2cZIAUv5mTLKrbBMyd5YCEozS6o/lMXVUs7CUxfcNj7Gknji2suPREUfgAc2kNaR0MCrMAAAAASUVORK5CYII=);
}
.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  overflow-y: scroll;
  display: none;
  .modal-content {
    h2 {
      padding-right: 50px;
    }
    min-width: $min-width;
    background: #fff;
    overflow: hidden;
    margin: 30px auto;
    width: 1140px;
    padding-top: 100px;
    padding-bottom: 100px;
    opacity: 0;
    @include transition(all 0.3s);
    @include transform(translateY(-100px));
    &.limited {
      .date {
        font-family: 'pf_agora_sans_promedium','Helvetica',Arial,sans-serif;
        font-size: 12px;
        line-height: 14px;
      }
      .text {
        padding-top: 64px;
        padding-right: 9%;
        p {
          font-size: 14px;
          margin: 0 0 22px 0;
          line-height: 22px;
        }
      }
    }
  }
  &.open {
    display: block;
    .modal-content {
      opacity: 1;
      @include transform(translateY(0));
    }
  }
  .close {
    position: absolute;
    right: 30px;
    top: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAz1BMVEXjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlE6pysmAAAARHRSTlMAAgMEBgcKCw4PEBETFBYXGRoeHyApLjI3PEFHTFJYXmVroaets7i+wMHDxMjKy83O0dLT1tfZ2+ns7/H09fj5+/z9/n75iC0AAAD0SURBVHjahZPVDsMwFEM9ZuqYmdoxM9X//03TVlXd1qw5T7YsRcmNL9JqFn/IamkMuMuJ09yOAyhb7vOiNL/nVgFSax4K9rRw4Dr1Eoklj8XftHjkMmHI2Iyn0ndaOnEWM01kzHP5My2fOY5YNqTyUrFs5UIthA8CfV6rpqle2Q/gC3+Pt5ohazf2/PjB1+W9/hL1O7s+2PB2+GgAjQc7XgjwtKk3mzrbHghxt6jrbLnxB9eEnLggi2WHy68mf5h8LPKhyr8kaPtQNWjZ8Mheh1HYNNGpqEzTqCHjc3EVF+8qJldORVY2jmswdFqiITKawwpmnrm5LPR7M3ImAAAAAElFTkSuQmCC);
    &:hover {
      opacity: 0.8;
    }
  }
  .form tr td {
    padding-bottom: 20px;
    .textOfError {
      position: absolute;
      left: 0;
      top: 100%;
      margin-top: 4px;
      padding: 0;
      white-space: nowrap;
    }
  }
  .owl-item {
    opacity: 0;
    &.active {
      opacity: 1;
    }
  }
  .list-doc {
    list-style: none;
    padding: 0 9% 0 0;
    margin: 120px -20px 0;
    li {
      border-bottom: 1px solid $border-color;
      font-size: 20px;
      line-height: 20px;
      margin-top: 20px;
      padding: 0 190px 17px 20px;
      position: relative;
      a {
        cursor: pointer;
        text-decoration: none;
        display: block;
        position: absolute;
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
        top: 0;
        right: 30px;

        &.view {
          right: 110px;
          background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMzIuMXB4IiBoZWlnaHQ9IjMycHgiIHZpZXdCb3g9IjAgMCAzMi4xIDMyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAzMi4xIDMyIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iI0UzMUE1MSIgZD0iTTMwLjQsMzEuN2wtOS43LTkuOGMtMi4yLDEuOS01LjEsMy4xLTguMiwzLjFDNS42LDI1LDAsMTkuNCwwLDEyLjVDMCw1LjYsNS42LDAsMTIuNSwwQzE5LjQsMCwyNSw1LjYsMjUsMTIuNWMwLDMtMS4xLDUuOC0yLjksOGw5LjcsOS44YzAuNCwwLjQsMC40LDEsMCwxLjRDMzEuNCwzMi4xLDMwLjgsMzIuMSwzMC40LDMxLjd6IE0yMywxMi41QzIzLDYuNywxOC4zLDIsMTIuNSwyQzYuNywyLDIsNi43LDIsMTIuNUMyLDE4LjMsNi43LDIzLDEyLjUsMjNDMTguMywyMywyMywxOC4zLDIzLDEyLjV6Ii8+PC9zdmc+);
        }
        &.send {
          background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMzJweCIgaGVpZ2h0PSIzMnB4IiB2aWV3Qm94PSIwIDAgMzIgMzIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iI0UzMUE1MSIgZD0iTTMwLDMySDEyYy0xLjEsMC0yLTAuOS0yLTJ2LTlsMiwwdjcuOGMwLDAuNywwLjUsMS4yLDEuMiwxLjJoMTUuNmMwLjcsMCwxLjItMC41LDEuMi0xLjJsMC0yNS42QzMwLDIuNiwyOS40LDIsMjguOCwySDEzLjJDMTIuNiwyLDEyLDIuNiwxMiwzLjJWMTFoLTJWMmMwLTEuMSwwLjktMiwyLTJoMThjMS4xLDAsMiwwLjksMiwydjI4QzMyLDMxLjEsMzEuMSwzMiwzMCwzMnogTTE2LjYsMTEuNGMtMC40LTAuNC0wLjQtMSwwLTEuNGMwLjQtMC40LDEtMC40LDEuNCwwTDI0LDE2bC01LjksNi4xYy0wLjIsMC4yLTAuNSwwLjMtMC43LDAuM3MtMC41LTAuMS0wLjctMC4zYy0wLjQtMC40LTAuNC0xLDAtMS40bDMuNy0zLjdIMWMtMC42LDAtMS0wLjQtMS0xYzAtMC42LDAuNC0xLDEtMWgxOS4zTDE2LjYsMTEuNHoiLz48L3N2Zz4=);
        }
        &:hover {
          opacity: 0.7;
        }
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
  .rules {
    ul {
      list-style: none;
      margin: 0 70px 0 0;
      padding: 0;
      li {
        padding-left: 60px;
        font-size: 20px;
        line-height: 30px;
        background: no-repeat left 7px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAbCAMAAAA5zj1cAAAAdVBMVEXjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlHjGlFFcmpRAAAAJnRSTlMAVFVWV1lcX2BjZWdpamttbm9wcXJzdHV2d3l6e3x9fn+A+/z9/r0Ayp8AAAC3SURBVHjajdLJEoIwEARQd2UVQURQAcX0/3+iXZVC1ikml55J3mWSrFSrqnWuBFTyCaBSuofCFXR3hcvprjpnIoXL6AKFu9F5CpcCX+ff1bXkEqA5dg54zbuY7tC1bwCF5PbMgcyn7mLQ7JgjmY1dZN1UpsOtM92WOSOT/kZIt5kwOzrirg0kR9l/Ut/gQyfL0JZe62Tpt27NlKX9AK69lyXpOgbmxGZRGmKWyxLg8CqZMjSylE5+3kcWl6shmNYAAAAASUVORK5CYII=);
        margin-top: 30px;
        min-height: 36px;
        span {
          padding-right: 16px;
          background: no-repeat right center;
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAANCAMAAABM3rQ0AAAAKlBMVEUzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzPOu02DAAAADXRSTlMAIjNEVWZ3iJm7zN3uNwL1DgAAAEBJREFUeNpNjEkOACAMAusuVv//XammUQ5kkgmIlMpEYTCBsboRWGnVS9ZOwynTtsmF2qKo+gvtybWI4jY8+9MGlmICIAl/00EAAAAASUVORK5CYII=);
        }
      }
    }
  }
}
