$base-color: #333333;
$min-width: 430px;
$max-width: 1000px;
$btn-color: #e31a51;

@mixin border-radius($radius) {
  -webkit-border-radius:  $radius;
  -moz-border-radius:     $radius;
  -ms-border-radius:      $radius;
  border-radius:          $radius;
}
@mixin box-shadow($shadow...) {
  -webkit-box-shadow:  $shadow;
  -moz-box-shadow:     $shadow;
  -ms-box-shadow:      $shadow;
  box-shadow:          $shadow;
}
@mixin transition($transition...) {
  -webkit-transition:  $transition;
  -moz-transition:     $transition;
  -ms-transition:      $transition;
  transition:          $transition;
}
@mixin transform($transform...) {
  -webkit-transform:  $transform;
  -moz-transform:     $transform;
  -ms-transform:      $transform;
  transform:          $transform;
}
@mixin clear {
  content: '';
  display: table;
  clear: both;
}
@mixin center {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}